body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
ol,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font: 14px/1.6 Monda, PingFang SC, Microsoft YaHei, sans-serif;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #536976, #292e49);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #536976, #292e49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

* {
  box-sizing: border-box;
}

input {
  outline: 0;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
}

input[type=text],
input[type=date] {
  display: block;
  width: 100%;
  border: 0;
  background: #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus, {
  background: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

/* Container begin */
.container {
  position: relative;
  max-width: 980px;
  padding: 80px 10px 0;
  margin: 0 auto;
  -webkit-transition: background .2s;
       -o-transition: background .2s;
          transition: background .2s;
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
}

/* Add task button */
.add-task input[type=text] {
  float: left;
  width: 84%;
  margin-right: 1%;
}

.add-task button {
  width: 15%;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  background: #46b1e4;
}

.add-task button,
.task-item {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
          box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.add-task [type=submit]:hover {
  background: #5fb9e4;
}

.task-list {
  margin: 10px 0;
}

.task-list .task-content {
  margin-left: 10px;
}

.task-list .fr {
  float: right;
}

.task-list .action {
  color: #999;
  font-size: 90%;
  margin: 0 2px;
}

.task-list .action:hover {
  color: #333;
}

.task-item {
  margin-bottom: 6px;
  color: #333;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.task-item:hover {
    background: #ddd;
}

.task-item.completed {
  position: relative;
  color: #aaa;
  /* background: rgba(255, 255, 255, .8) */
  opacity: .5;
}

.task-item.completed:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 32px;
  height: 1px;
  background: #aaa;
  width: 88%;
}

.task-detail-mask,
.task-detail,
.task-item,
textarea,
button,
input {
  border-radius: 3px;
  padding: 10px;
}

/* Task details */
.task-detail-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(30, 30, 30, .6)
}

.task-detail {
  display: none;
  position: fixed;
  top: 20%;
  right: 50%;
  width: 380px;
  height: 300px;
  margin-right: -190px;
  color: #333;
  padding: 10px;
  background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0 ,.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0 ,.1);
}

.task-detail .input-item {
  margin-bottom: 10px;
}

.task-detail .content {
  padding: 10px;
  font-weight: 900;
  cursor: pointer
}

.task-detail textarea {
  width: 100%;
  min-height: 100px;
  bottom: 0;
}

.msg {
  display: none;
  padding: 10px;
  text-align: center;
  background: #ffe264;
  color: #333;
}

.anchor {
  cursor: pointer;
}

.alerter {
  width: 0;
  height: 0;
}

.primary {
  background: #46b1e4;
  margin-right: 5px;
}
